<div>
    <ion-card>
      <ion-item>
        <ion-label class="container"  color="primary" >Nombre del dueño: </ion-label>
        <ion-input [(ngModel)]="customer.nombre"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label color="primary"  >Apellido del dueño: </ion-label>
        <ion-input type="text"  [(ngModel)]="customer.apellido"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="primary"  >Documento: </ion-label>
          <ion-input type="text"  [(ngModel)]="customer.documento"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="primary" >Numero de telefono: </ion-label>
          <ion-input type="text"  [(ngModel)]="customer.telefono"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="primary" >Email: </ion-label>
          <ion-input type="text"  [(ngModel)]="customer.email"></ion-input>
      </ion-item>

    </ion-card>	

    <button ion-button (click)="enviarSolicitud()">
        Pedir viaje
    </button>

</div>
  